body {
    background:pink;
    text-align: left;
    text-decoration: rebeccapurple;
    -moz-text-decoration-style: wavy;
  }

  h2 {
      text-align: center;
  }

  h1 {
      text-align: center;
      
  }